/* ==== Universal Styling ==== */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

.parentContainer {
  height: 100vh;
  width: 100vw;
}

.subContainer {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
}
.subContainer svg {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: calc(100% + 5vh);
}

.inputContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1em;
}
.inputContainer .searchContainer i {
  position: absolute;
  padding: 12px;
  min-width: 40px;
  color: #eae2b7;
}
.inputContainer .searchContainer input[type=text] {
  width: 60vw;
  padding: 0.5em 1em 0.5em 2.5em;
  margin: 0.5em;
  outline: none;
  border: none;
  border-bottom: 0.5px solid #eae2b7;
  background: none;
  color: #eae2b7;
  font: lighter 0.8em "Roboto", sans-serif;
}
.inputContainer .searchContainer ::placeholder,
.inputContainer .searchContainer :-ms-input-placeholder,
.inputContainer .searchContainer ::-ms-input-placeholder {
  color: #eae2b7;
  opacity: 0.7;
  font-weight: lighter;
  font-size: 0.5em;
}
.inputContainer input[type=checkbox] {
  position: absolute;
  left: -100vw;
  opacity: 0;
}
.inputContainer label {
  margin-left: 0.5em;
  font: lighter 1.5em "Roboto", sans-serif;
  color: #eae2b7;
  opacity: 0.8;
}

.mainWeatherDetails {
  margin-bottom: 2em;
}
.mainWeatherDetails .cityAndCountry {
  font: 1.8em "Roboto", sans-serif;
  color: #fcbf49;
}
.mainWeatherDetails .weatherDescription {
  font: bolder 1em "Lato", sans-serif;
  color: #f77f00;
}
.mainWeatherDetails .iconAndTempContainer {
  display: grid;
  grid-template: 7em 3em/repeat(2, 1fr);
  align-items: center;
  row-gap: 0.5em;
  column-gap: 1em;
  padding: 1.5em;
}
.mainWeatherDetails .iconAndTempContainer .weatherIcon {
  justify-self: right;
  font-size: 6em;
  color: #ffffff;
}
.mainWeatherDetails .iconAndTempContainer .weatherTemp {
  font: 6em "Roboto", sans-serif;
  color: #fcbf49;
}
.mainWeatherDetails .iconAndTempContainer .minAndMaxTemp {
  justify-self: right;
  font: lighter 1.5em "Roboto", sans-serif;
  color: #d62828;
}
.mainWeatherDetails .iconAndTempContainer .feelsLikeTemp {
  font: lighter 1.5em "Lato", sans-serif;
  color: #eae2b7;
}

.otherWeatherDetails {
  margin-top: 1em;
  padding: 1em;
}
.otherWeatherDetails .sunContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.otherWeatherDetails .sunriseContainer,
.otherWeatherDetails .sunsetContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.otherWeatherDetails .sunriseContainer i,
.otherWeatherDetails .sunsetContainer i {
  margin: 0.3em;
  color: #f77f00;
  font-size: 3em;
}
.otherWeatherDetails .sunriseContainer p,
.otherWeatherDetails .sunsetContainer p {
  margin-left: 0.5em;
  font: bolder 1em "Lato", sans-serif;
  color: #003049;
}
.otherWeatherDetails .miscContainer {
  display: flex;
  justify-content: center;
}
.otherWeatherDetails .miscContainer .labels,
.otherWeatherDetails .miscContainer .values {
  font: bolder 1em "Lato", sans-serif;
}
.otherWeatherDetails .miscContainer .labels p,
.otherWeatherDetails .miscContainer .values p {
  margin: 0.5em;
}
.otherWeatherDetails .miscContainer .labels {
  color: #003049;
}
.otherWeatherDetails .miscContainer .labels p {
  text-align: right;
}
.otherWeatherDetails .miscContainer .values {
  color: #d62828;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  padding: 0.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer p {
  font: lighter 0.8em "Lato", sans-serif;
  color: #eae2b7;
}

@media screen and (max-width: 480px) {
  .childContainer {
    width: inherit;
    display: flex;
    flex-flow: column;
  }

  .mainWeatherDetails .cityAndCountry,
.mainWeatherDetails .weatherDescription {
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
