/* ==== Universal Styling ==== */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

.subContainer {
  position: relative;
  top: 0;
  left: 0;
}
.subContainer svg {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: calc(100% + 5vh);
}
.subContainer .large-svg {
  display: none;
}

.inputContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1em;
  opacity: 0.6;
}
.inputContainer p {
  display: none;
  margin: 0.5em;
  padding: 0.5em;
  background-color: #d62828;
  border-radius: 5px;
  color: #eae2b7;
  font: lighter 0.8em "Roboto", sans-serif;
}
.inputContainer .searchContainer i {
  position: absolute;
  padding: 12px;
  min-width: 40px;
  color: #eae2b7;
}
.inputContainer .searchContainer input[type=search] {
  width: 80%;
  padding: 0.5em 1em 0.5em 2.5em;
  margin: 0.5em;
  outline: none;
  border: none;
  border-bottom: 0.5px solid #eae2b7;
  background: none;
  color: #eae2b7;
  font: lighter 0.8em "Roboto", sans-serif;
}
.inputContainer .searchContainer ::placeholder,
.inputContainer .searchContainer :-ms-input-placeholder,
.inputContainer .searchContainer ::-ms-input-placeholder {
  color: #eae2b7;
  opacity: 0.7;
  font-weight: lighter;
  font-size: 0.5em;
}

.mainWeatherDetails {
  margin-bottom: 2em;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
.mainWeatherDetails .cityAndCountry {
  font: 1.8em "Roboto", sans-serif;
  color: #fcbf49;
}
.mainWeatherDetails .weatherDescription {
  font: bolder 1em "Lato", sans-serif;
  color: #f77f00;
  text-transform: uppercase;
}
.mainWeatherDetails .iconAndTempContainer {
  display: grid;
  grid-template: 7em 3em/repeat(2, 1fr);
  align-items: center;
  row-gap: 0.5em;
  column-gap: 1em;
  padding: 1.5em;
}
.mainWeatherDetails .iconAndTempContainer .weatherIcon {
  grid-area: 1/1/2/2;
  justify-self: right;
  color: #ffffff;
}
.mainWeatherDetails .iconAndTempContainer .weatherIcon i {
  font-size: 8.5em;
}
.mainWeatherDetails .iconAndTempContainer .weatherTemp {
  grid-area: 1/2/2/3;
  font: 6em "Roboto", sans-serif;
  color: #fcbf49;
}
.mainWeatherDetails .iconAndTempContainer .feelsLikeTemp {
  grid-area: 2/1/3/3;
  justify-self: center;
  font: lighter 1.5em "Lato", sans-serif;
  color: #eae2b7;
}

.otherWeatherDetails {
  margin: 1em 0;
  padding: 1em;
}
.otherWeatherDetails .sunContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.otherWeatherDetails .sunriseContainer,
.otherWeatherDetails .sunsetContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.otherWeatherDetails .sunriseContainer i,
.otherWeatherDetails .sunsetContainer i {
  margin: 0.3em;
  color: #f77f00;
  font-size: 3em;
}
.otherWeatherDetails .sunriseContainer p,
.otherWeatherDetails .sunsetContainer p {
  margin-left: 0.5em;
  font: bolder 1em "Lato", sans-serif;
  color: #003049;
}
.otherWeatherDetails .miscContainer {
  display: flex;
  justify-content: center;
  padding: 0.5em;
}
.otherWeatherDetails .miscContainer .labels,
.otherWeatherDetails .miscContainer .values {
  font: bolder 1em "Lato", sans-serif;
}
.otherWeatherDetails .miscContainer .labels p,
.otherWeatherDetails .miscContainer .values p {
  margin: 0.5em;
}
.otherWeatherDetails .miscContainer .labels {
  color: #003049;
}
.otherWeatherDetails .miscContainer .labels p {
  text-align: right;
}
.otherWeatherDetails .miscContainer .values {
  color: #d62828;
}

footer {
  width: 100vw;
  padding: 0.5em;
  margin-top: 1em;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
footer p {
  font: lighter 0.8em "Lato", sans-serif;
  color: #eae2b7;
}

@media screen and (max-width: 768px) {
  .parentContainer {
    height: 100vh;
    width: 100vw;
  }

  .childContainer {
    width: inherit;
    display: flex;
    flex-flow: column;
  }

  .inputContainer {
    flex-flow: column-reverse;
  }

  .mainWeatherDetails .cityAndCountry,
.mainWeatherDetails .weatherDescription {
    text-align: center;
  }

  footer {
    position: relative;
    bottom: 0;
  }
}
@media screen and (min-width: 769px) {
  body {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#eae2b7+0,f2b374+100 */
    background: #eae2b7;
    /* Old browsers */
    background: -moz-linear-gradient(top, #eae2b7 0%, #f2b374 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #eae2b7 0%, #f2b374 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #eae2b7 0%, #f2b374 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#eae2b7", endColorstr="#f2b374",GradientType=0 );
    /* IE6-9 */
  }

  .parentContainer {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }

  .childContainer {
    max-width: 80%;
    height: 100%;
    margin: 1em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    background-color: #ffffff;
    z-index: 0;
  }

  .inputContainer {
    justify-content: flex-end;
    padding: 1em;
    margin: 0;
  }

  .subContainer svg {
    height: calc(100% + 8vw);
  }
  .subContainer .small-svg {
    display: none;
  }
  .subContainer .large-svg {
    display: block;
  }

  .mainWeatherDetails {
    display: grid;
    grid-template: 4em 8em/16em 1fr;
    column-gap: 1em;
    padding: 1em 4vw 0 4vw;
  }
  .mainWeatherDetails .cityAndCountry {
    grid-area: 1/1/2/2;
    font-size: 2em;
  }
  .mainWeatherDetails .weatherDescription {
    grid-area: 2/1/3/2;
    font-size: 1.5em;
    align-self: flex-start;
  }
  .mainWeatherDetails .iconAndTempContainer {
    grid-area: 1/2/3/3;
    justify-self: right;
    padding: 0;
    height: 100%;
    grid-template: 8em 4em/repeat(2, 1fr);
  }
  .mainWeatherDetails .iconAndTempContainer .weatherIcon i {
    font-size: 8em;
  }
  .mainWeatherDetails .iconAndTempContainer .weatherTemp {
    font-size: 8em;
  }
  .mainWeatherDetails .iconAndTempContainer .feelsLikeTemp {
    font-size: 1.8em;
  }

  .otherWeatherDetails {
    margin: 0;
    padding: 0 2em 2em 2em;
    display: flex;
    align-items: flex-start;
  }
  .otherWeatherDetails .sunContainer {
    flex-flow: column;
    margin-right: 3em;
  }
  .otherWeatherDetails .sunContainer .sunriseContainer i,
.otherWeatherDetails .sunContainer .sunsetContainer i {
    font-size: 3em;
    margin: 0;
  }
  .otherWeatherDetails .sunContainer .sunriseContainer p,
.otherWeatherDetails .sunContainer .sunsetContainer p {
    font-size: 1.5em;
  }

  footer {
    position: fixed;
    bottom: 0;
  }
}
@media screen and (min-width: 1025px) {
  .subContainer svg {
    height: 355px;
  }
}

/*# sourceMappingURL=style.css.map */
